.video {
  width: 100%;
}
.videoContainer {
  overflow: hidden;
  display: flex;
  height: 500px;
  width: 100%;
  align-items: center;
  justify-content: center;
  position: relative;
}
.gray {
  height: 100%;
  width: 100%;
  position: absolute;
  background-color: rgba(0, 0, 0, 0.5);
}

.h3Container {
  position: absolute;
  color: white;
  width: 100%;
}

.title {
  font-family: "Kalam", sans-serif;
  font-size: 8em;
  text-align: center;
  font-weight: 100;
}

.titleB {
  font-family: "Raleway", sans-serif;
  font-size: 3em;
  text-align: center;
  font-weight: 800;
}

.filter {
  width: 100%;
  margin: 15px;
  margin-left: 15px;
  display: flex;
  justify-content: space-evenly;
  flex-direction: row;
  align-items: center;
  margin: 10px;
}

.filterByCategory {
  margin: 10px;
}

.change {
  margin: 10px;
}

.search {
  margin: 10px;
}

.body3 {
  width: 100%;
  height: 100%;
  display: flex;
  flex-direction: column;
  align-items: center;
}

.body3 h1 {
  display: flex;
  position: relative;
  flex-wrap: nowrap;
  align-content: center;
}

.bodyCards {
  height: 100%;
  width: 80%;
  /* border: 2px solid red; */
  margin-top: 30px;
  display: flex;
  flex-direction: column;
  align-items: center;
}

.paginationContainer {
  width: auto;
  display: flex;
  flex-direction: row;
  justify-content: space-around;
  align-items: center;
  margin: 20px;
}

.navBar {
  min-width: 100%;

  display: flex;
  justify-content: center;

  flex-direction: row;
}

@media screen and (min-width: 500px) {
  .wrapper-grid {
    grid-template-columns: repeat(2, 1fr);
  }
}
@media screen and (min-width: 760px) {
  .wrapper-grid {
    grid-template-columns: repeat(3, 1fr);
  }
} ;
