.productscreen {
  max-width: 1300px;
  margin: 1rem auto;
  display: flex;
}

.productscreenleft {
  display: flex;
  flex: 0.9;
}

.leftimage {
  margin: 1rem;
  width: 10px;
  flex: 0.6;
}
.leftimage > img {
  width: 100%;
  height: 100%;
}

.leftinfo {
  margin: 1rem;
  flex: 0.4;
  background: #fff;
  height: fit-content;
  font-size: 0.9rem;
}

.leftname {
  font-weight: bold;
  font-size: 1.3rem;
}

.leftinfo > p,
.rightinfo > p {
  padding: 1rem;
  border-bottom: 1px solid rgba(0, 0, 0, 0.2);
}

.leftinfo > p:last-child,
.rightinfo > p:last-child {
  border: none;
}

.productscreenright {
  flex: 0.2;
}

.rightinfo {
  width: 250px;
  margin: 1rem;
  background: #fff;
  box-shadow: 0 1px 4px rgba(0, 0, 0, 0.4);
}

.rightinfo p {
  padding: 1rem;
  font-size: 0.8rem;
  display: grid;
  grid-template-columns: repeat(2, 1fr);
}

.rightinfo p > button {
  grid-column: 1/-1;
  width: 100%;
  padding: 10px 16px;
  background: #171717;
  color: #f4f4f4;
  border: 1px solid #171717;
  cursor: pointer;
  border-radius: 5px;
}
.rightinfo p > button:hover {
  background: #f4f4f4;
  color: #171717;
}
.rightinfo select {
  padding: 10px 16px;
}

.infobutton {
  display: block;
  text-decoration: none;
  text-align: center;
  color: #f4f4f4;
  grid-column: 1/-1;
  width: 100%;
  padding: 9px 16px;
  background-color: #171717;
  border: 1px solid #171717;
  font-size: 1rem;
  border-radius: 5px;
}

.infobutton:hover {
  background: #f4f4f4;
  color: #171717;
}

@media (max-width: 960px) {
  .productscreen {
    flex-direction: column;
  }

  .productscreenleft {
    flex-direction: column;
    flex: 1;
  }

  .leftimage {
    flex: 1;
  }
  .leftimage > img {
    width: 250px;
  }

  .leftinfo {
    flex: 1;
  }

  .productscreenright {
    flex: 1;
    padding: 1rem;
  }

  .right__info {
    width: 100%;
    margin: 0;
  }
}