.body4 {
  background-image: url("../../assets/wallpaperbetter.com_1920x1080.jpg");
  height: 100%;
  width: 100%;
  background-repeat: no-repeat;
  background-size: cover;
  /* display: flex;
   flex-direction: column;
    justify-content: center;
    align-items: center;


    background-position: center center;
    background-attachment: fixed;
    background-size: cover; */ 
}

.card {
  height: 90%;
  width: 40%;
  border-radius: 8px;
  display: flex;
  justify-content: center;
  flex-direction: column;
  align-items: center;
  background: rgba(90, 90, 90, 0.884);
  box-shadow: 10px 10px 150px rgba(253, 253, 253, 0.575);
}

.title {
  display: flex;
  justify-content: center;
  color: white;
  margin-bottom: 20px;
}

.navbar {
  display: flex;
  align-items: flex-start;
  bottom: 0px;
}

.valoration {
  display: flex;
  justify-content: center;
}

.footer {
  display: flex;
  align-items: flex-end;
  /* position: fixed; */
  bottom: 0px;
  left: 0px;
}

.image {
  height: 50%;
  width: 60%;
}

.name {
  color: white;
}

.raiting {
  display: flex;
  justify-content: center;
}

 /* .navbar {
  position:relative;
}  */

.buttonLink {
  text-decoration: none;
}

.info {
  width: 70%;
  display: flex;
  justify-content: center;
  flex-direction: column;
  color: white;
  margin-top: 20px;
}
.containerdetail {
  display: flex;
  justify-content: center;
  flex-direction: column;
  width: 100%;
  height: 100%;
  background: #fff;
  box-shadow: 2% 0 1em 0 rgba(255, 1, 1, 0.25);
}

.image {
  border-radius: 18px;
}

.buttonback {
  cursor: pointer;
  width: 25%;
  border-radius: 30%;
  margin-left: 2vh;
  padding: 10px 20px;
  border-radius: 12px;
  outline: none;
  border: none;
  font-size: 17px;
  cursor: pointer;
  background-color: var(list-style-type);
}
.buttonback:hover {
  color: rgb(255, 0, 0);
}