.body4 {
  background-image: url("https://wallpaperaccess.com/full/1624843.jpg");
  padding-left: 0;
  padding-right: 0;
  height: 100%;
  width: 100%;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  background-size: cover;
  background-position: center center;
  background-repeat: repeat;
  position: absolute;
  text-align: center;
  font-weight: 50;
  overflow: auto;
  
}
.containerdetail {
  margin: auto;
  font-family: arial black;
  border-radius: 4%;
  box-shadow: 2% 0 1em 0 rgba(255, 1, 1, 0.25);
  max-width: 400px;
  padding: 1em;
  position: absolute;
  top: 10%;
  left: 20%;
  z-index: 4;
  width: 80%;
  height: 85vh;
  display: table;
}
.containerdetail:before {
  background-size: cover;
  content: "";
  -webkit-filter: blur(10px);
  filter: blur(10px);
  height: 100vh;
  position: absolute;
  top: 70%;
  left: 50%;
  z-index: -1;
  transform: translate(-50%, -50%);
  width: 90vw;
}

.containerdetail:after {
  background: linear-gradient(100deg, #ffffff80 30%, #0429fd70 150%);
  /* background: rgba(228, 245, 245, 0.4); */
  content: "";
  display: block;
  height: 100%;
  position: absolute;
  top: 0;
  left: 0;
  z-index: -1;
  width: 100%;
  border-radius: 1%;
}

.image {
  border-radius: 18px;
}

.buttonback {
  cursor: pointer;
  width: 25%;
  border-radius: 30%;
  margin-left: 2vh;
  padding: 10px 20px;
  border-radius: 12px;
  outline: none;
  border: none;
  font-size: 17px;
  cursor: pointer;
  background-color: var(list-style-type);
}
.buttonback:hover {
  color: rgb(255, 0, 0);
}