.body4 {
    padding-left: 20;
    padding-right: 50;
    height: 100%;
    width: 100%;
    background-size:cover;
    background-position:center center;
    background-repeat: repeat;
    position:absolute;
    text-align:center;
}

@media(max-width:768px) {
    .card {
        width: 90%
    }
}

.title {
    color: #ca314d;
    font-weight: 600;
    margin-bottom: 2vh;
    padding: 0 8%;
    font-size: 25px;
    font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;

}
.title2 {
    color: #ca314d;
    font-weight: 600;
    margin-bottom: 2vh;
    padding: 0 8%;
    font-size: 35px;
    font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;


}