/* .buttonContainer {
  width: 80%;
  display: flex;
  flex-direction: row;
  justify-content: center;
  margin: 5%;
}

.map {
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: center;
  width: 80%;
} */
