.container {
    background-image: url("https://c0.wallpaperflare.com/preview/734/143/601/spain-barcelona-mercado-de-la-boqueria-orange.jpg");
  
    background-repeat: no-repeat;
    background-position: center center;
    background-attachment: fixed;
    background-size: cover;
    height: 100%;
    width: 100%;
    display: flex;
    margin-top: auto;
    margin-bottom: auto;
    justify-content: center;
    align-items: center;
  }
  
  .reviews {
    height: 100%;
    width: 100%;
    display: flex;
    background-size: cover;
    justify-content: center;
    flex-direction: column;
    padding: 80px;
    margin-top: 28%;
    margin-bottom: 28%;
    background: rgba(255, 255, 255, 0.986);
    box-shadow: 10px 10px 250px rgba(253, 253, 253, 0.575);
    border-radius: 8px;
  }
  
  .raiting {
    display: flex;
    justify-content: center;
    margin-top: 20px;
  }
  
  .title {
    display: flex;
    justify-content: center;
    margin-top: 20px;
    color: rgb(0, 0, 0);
  }
  
  .label {
    color: rgb(0, 0, 0);
  }