.s{
    position:fixed;
    width: 100%;
    height: 100%;
    margin:0;
    background-image: url('https://images.unsplash.com/photo-1578916171728-46686eac8d58?ixid=MnwxMjA3fDB8MHxzZWFyY2h8MXx8cHJvZHV0b3xlbnwwfHwwfHw%3D&ixlib=rb-1.2.1&w=1000&q=80');
    background-position: center center;
    background-size:cover;
    background-attachment: fixed;
    display:grid;
 
 }
 
 .setdirection{
    display: flex;
    align-items: center;
    justify-content: center;
 }
 .text {
    color: rgb(0, 0, 0);
    text-shadow: rgb(66, 233, 36);
    
    align-items: center;
    justify-content: center;
    display:inline-flex;
 }
 
 .button {
    cursor:pointer;
    width: 116%;
    margin-left: 0vh;
    padding: 10px 20px;
    border-radius: 7px;
    outline: none;
    border: none;
    font-size: 20px;
    cursor: pointer;
    background-color: var(list-style-type);
    box-shadow: 15px 6px 25px 10px rgb(8, 8, 8);
    
 }
 .button:hover{
    color:rgb(245, 2, 2);
 }
 
 