
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

html {
  font-size: 52.5%;
  font-family: "Roboto", sans-serif;
}

a {
  text-decoration: none;
}

nav {
  display: flex;
  justify-content: space-around;
  align-items: center;
  position: fixed;
  left: 0;
  top: 0;
  width: 100%;
  z-index: 1;
  background-color: rgba(49, 50, 53, 0.473);
  transition: 0.6s ease-in-out;
}
nav.active {
  box-shadow: 5px 10px 30px rgba(255, 255, 255, 0.157);
  background-color: #ffffff;
}

nav ul {
  display: flex;
}
nav ul li a {
  font-family: calibri;
  height: 40px;
  line-height: 43px;
  margin: 3px;
  padding: 0px 22px;
  display: flex;
  font-size: 0.9rem;
  text-transform: uppercase;
  font-weight: 500;
  color: #000000;
  letter-spacing: 1px;
  border-radius: 3px;
  transition: 0.2s ease-in-out;
}
nav ul li a:hover {
  background-color: #444444;
  color: #fffefe;
  box-shadow: 5px 10px 30px rgba(255, 255, 255, 0.336);
  transition: all ease 0.2s;
}
nav .menu-btn,
.menu-icon {
  display: none;
}

::placeholder {
  /* Chrome, Firefox, Opera, Safari 10.1+ */
  color: #000000;
  opacity: 1; /* Firefox */
}

:-ms-input-placeholder {
  /* Internet Explorer 10-11 */
  color: #050505;
}

::-ms-input-placeholder {
  /* Microsoft Edge */
  color: #000000;
}

html::-webkit-scrollbar {
  width: 10px;
}

html::-webkit-scrollbar-track {
  background: rgb(235, 235, 235);
  border-radius: 8px;
}

html::-webkit-scrollbar-thumb {
  background: rgb(136, 136, 136);
  border-radius: 8px;
}

html::-webkit-scrollbar-thumb:hover {
  background: rgb(100, 100, 100);
  border-radius: 8px;
}

html::-webkit-scrollbar-thumb:active {
  background: rgb(68, 68, 68);
  border-radius: 8px;
}

/* Add a black background color to the top navigation */
.topnav {
  background-color: rgba(49, 50, 53, 0.603);
  overflow: hidden;
}

/* Style the links inside the navigation bar */
.topnav a {
  float: left;
  color: #ffffff;
  text-align: center;
  padding: 14px 16px;
  text-decoration: none;
  font-size: 17px;
}

/* Change the color of links on hover */
.topnav a:hover {
  background-color: #ddd;
  color: black;
  border-radius: 5px;
}

/* Add a color to the active/current link */ /* modifica al Home */
.topnav a.active {
  color: rgb(255, 255, 255);
  border-radius: 5px;
  border-color: rgb(0, 0, 0);
}

.topnav a.active:hover {
  background-color: #ddd;
  color: black;
  border-radius: 5px;
}
