.menu {
  background-color: #e9183b;
  height:75px;
  width:100%;
  display: flex;
  margin: auto;
  /* justify-content: space-around; */
  flex-direction: row;
  align-items: center;
  border-bottom: 1px solid #fff;
  box-shadow: 5px 0 10px rgba(0, 0, 0, .6);
}  

.logo {
  color: #fff;
  font-size: 2.5em;
  font-weight: 800;
  padding: 0 80px;
  font-weight: bold;
  font-family: 'Kalam', sans-serif;
}

.menu_items {
  display: flex;
  justify-content: space-around;
  list-style:none;
  margin-right:30px;
  font-family: 'Raleway', sans-serif;
}

.menu_items li{
  display:flex;
  
  margin: 10px;
  /* border-radius: 3px; */
  /* margin: 100px; */
}

.menu_items li a {
  padding: 7px 13 px;
  text-decoration: none;
  font-size: 18px;
  display: block;
  text-transform: uppercase;
  color: #fff;
}

.menu_items li:hover, li.active {
  background-color: rgba(0, 0, 0, .3);
  transition: .4s
}

.btn_menu {
  margin-right: 3px;
  font-size: 24px;
  color: #fff;
  cursor: pointer;
  display:none;
}

/* ul.show {
  top: 65px;
} */
/* @media screen and (max-width: 952px) {
  .logo {
      font-size: 30px;
      padding-left: 35px;
  }
  .menu_items li a {
      font-size:16px;
  }
}
@media screen and (max-width: 852px) {
  .menu {
      height: 65px;
  }
  .btn_menu {
      display:inline-flex;
  }
  .menu_items {
      position:fixed;
      width: 100%;
      height: calc(100%- 65px);
      background: #414141;
      top: -100vw;
      text-align: center;
      transition: all .4s;
      flex-direction: column;
  }
  .menu_items li {
      margin: 30px 0 0 0;
      line-heigt: 30px;
  }
  .menu_items li:hover {
      background: none;
  }
  .menu_items li a {
      font-size: 20px;
      color: #fff;
      font-weight: bold;
  }
  .menu_items li a:hover {
      color: #e9183b;
  }
  .logo{
      font-size: 25px;
      padding-left: 35px;
  }
}
@media screen and (max-width:858px) and (orientation: landscape) {
  .menu_items li {
      margin: 5px 0 0 0;
  }
  .menu_items {
      overflow: scroll;
      height: calc(100%-65px);
  }
} */